/*CSS DOCUMENT*/

body {
	font-family: sans-serif;
	line-height: 1.4em;
	color: #222;
	background-color: #fafafa;
	box-sizing: border-box;
	}

img {
	width: 100%;
	}

div.container {
	display: flex;
	flex-wrap: wrap;
}

header {
	flex-basis: 100%;
}

h1 {
	margin-left: .5em;
}

article {
	flex: 20 0 20em;
	margin: 0 1em;
}

aside {
	flex: 10 0 10em;
	margin: 0em
}

footer {
	flex-basis: 100%;
	border-top: #ded8d8 solid;
}

a {
	text-decoration: none;
	color:#171616
}

section {
	background: #e9e8e8;
	padding: 1em;
	margin: .5em 1em 1em;
}

section figure {
	margin: 0;
}

figure {
	margin: .5em
}

@media screen {
    div.container {
    max-width: 60em;
    margin: auto;
	} 
	footer {
		margin: 1em;
	}
}


